<div>
  <h1>Change Password</h1>
   <form id="login">
        <input type="password" placeholder="password" id="password"  value="">
        <button type='submit' class='btn btn-primary' value="SubmitForm">Login</button>
        <a href="/change-password">Change Password</a>
    </form>
</div>

<script>
     const form = document.getElementById('login')
     form.addEventListener('submit' , login)

     async function login(event){
        event.preventDefault();
        const password = document.getElementById('password').value;

        const result =  await fetch('/accounts/api/change-password' , {
            method : 'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            {{!-- Bắn 2 cái này qua link và bên kia nhận về --}}
            body: JSON.stringify({
                newpassword : password,
                {{!-- Lấy ra mật khẩu lưu trong localStorage --}}
                token : localStorage.getItem('token')
            })
        }).then((res) => res.json())
        {{!-- Thành Công  --}}
        if(result.status === 'ok'){
            alert('Successfully')
            console.log('Got the data ' , result.data)
            console.log('Got the tokendata' , result.tokendata)
            localStorage.setItem('token' , result.tokendata)
            {{!-- Hiện mã lỗi --}}
        }else{
            alert(result.error)
        }
     }

</script>